
.php-13{
        color: pink
    }
#h2{
        color: powderblue
    }
#body{
        background-color:plum
}    
p{
    background-color:snow
}
blue{
    color: blue
}
#Head{
    text-align: right
    
}

